/* Header and navigation area style */

header {
    background-color: #367DB9;
  }

.headerGrid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 9em/*or 120px*/ 4fr 1fr;
    grid-template-areas:
        "img h1 div"
        "nav nav nav"
}

header img {
    grid-area: img;
    width: 7em;
    height: 7em;
 }

 h1 {
    grid-area: h1;
    color: #FFFFFF;
    text-align: left;
    padding-top: 0.20em;
    -webkit-text-stroke: 2px black; /*REF***https://stackoverflow.com/questions/2570972/css-font-border*/
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

#logIn a {
    grid-area: div;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: #FFFFFF;
    color: #000000;
    display: block;
    border-radius: 2em;
    border: 2px solid #000000;
    width: 5em;
}

#logIn a:hover{
  color: #367DB9/*#800080*/;
  text-decoration: underline;
}

#logIn li {
  grid-area: div;
  display: inline-block;
  padding-top: 1.5em;
  padding-right: 1.2em;
}

nav {
    grid-area: nav;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
}

nav li {
  display: inline-block;
  padding-right: 2em;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: /*#800080*/#367DB9;
  text-decoration: underline;
}

/*Home page main content style*/
main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
      "ol img"
}

main img {
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0em;
}

.activities {
  grid-area: ol;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0em;
  border: 2px solid #000000;
}

/*Footer style*/
footer {
  margin: auto;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
}

footer li {
  display: inline-block;
  padding-right: 2em;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  color: /*#800080*/#367DB9;
  text-decoration: underline;
}

/*na mpoune stin akri aristera*/
footer div img{
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

/*******************************SIMAZEMA ISOS KSEXORISTA CSS********************************/
/*Registration page style*/

.registration{
  /*height: 500px;*/
  min-height: 75vh;
  margin-top: 0.3em;
  margin-bottom: 0em;
  border: 2px solid #000000;
  background-image: url("../images/parthenon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

#regForm{
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: auto;
  max-width: 600px;
  padding: 0.5em;
  background: rgba(54, 125, 185, 0.7); /*opacity without affecting the text in the register form*/
  border-radius: 1em;
}

/*#regForm*/ .col1{
  margin-bottom: 1.2em;
  margin-right: auto;
}

#regForm .col2{
  margin-bottom: 1.2em;
  margin-left: auto;
}

/* Set a style for the submit button and input fields*/
input[type=text], input[type=password] {
  padding: 0.5em;
  margin-top: 0.3em;
  border: none;
  background: #FFFFFF;
  border-radius: 1em;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #DDDDDD;
  outline: none;
}

.button {
  font-size: large;
  background-color: #367DB9;
  color: white;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 1em;
}

.button:hover {
  opacity: 1;
}

/* Error style in Registration form */
.displayBox{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #FFFFFF;
  background: rgba(54, 125, 185, 0.7);
  max-width: 600px;
  margin: auto;
  padding: 0.5em;
  border-radius: 1em;
}

.displayBox a {
  color: #FF6347;
}

.displayBox a:hover{
  color: #000000/*#800080*/;
}

/*Sign In page style*/
.signIn{
  /*height: 500px;*/
  min-height: 75vh;
  margin-top: 0.3em;
  border: 2px solid #000000;
  background-image: url("../images/signIn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #367DB9;
  display: flex;
  justify-content: center;
}

#siForm{
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: auto;
  max-width: 500px;
  padding: 0.5em;
  background: rgba(54, 125, 185, 0.7); /*opacity without affecting the text in the register form*/
  border-radius: 1em;
}

.accoList{
  /*height: 500px;*/
  min-height: 75vh;
  margin-top: 0.3em;
  border: 2px solid #000000;
  background-image: url("../images/showAcco.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #367DB9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
}

#selectAcco{
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: auto;
  max-width: 500px;
  padding: 0.5em;
  background: rgba(54, 125, 185, 0.7); /*opacity without affecting the text in the register form*/
  border-radius: 1em;
}

.displayBox2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #FFFFFF;
  background: rgba(54, 125, 185, 0.9);
  max-width: 600px;
  margin: auto;
  margin-bottom: 7em;
  padding: 0.5em;
  border-radius: 1em;
}

select{
  padding: 0.5em;
  margin-top: 0.3em;
  border: none;
  background: #FFFFFF;
  border-radius: 1em;
  margin-bottom: 0.3em;
}